{% load static %}
{% load bootstrap4 %}

{% if request.session.usuario_admin %}
  <h1>Página de atendimentos</h1>
  <!-- Conteúdo restrito -->
{% else %}
  <div class="alert alert-danger">Acesso negado</div>
{% endif %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
    <title>Atendimentos</title>
</head>
<body>
    <img src="{% static '/images/logo.png' %}" alt="Clinix Logo" class="img-fluid" style="max-width: 300px;">
    <h1>Atendimentos</h1>
</body>
</html>