{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Atendimentos de Hoje</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
</head>
<body>
  <div class="container">
    {% bootstrap_messages %}
    <img src="{% static 'images/logo.png' %}" alt="Clinix Logo" class="img-fluid" style="max-width: 300px;">

    <!-- Cabeçalho com Título e Seletor de Profissional -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1 style="color: blue;">Atendimentos do dia {{ data_hoje|date:"d/m/Y" }}</h1>
      
      <form method="get">
          <div class="d-flex">
              <select name="profissional" class="form-select" style="width: 380px; height: 33px;background-color: bisque; border-radius: 7px;" onchange="this.form.submit()" style="width: 250px;">
                  <option value="">Todos os profissionais</option>
                  {% for profissional in profissionais %}
                      <option value="{{ profissional.id }}" {% if request.GET.profissional == profissional.id|stringformat:"s" %}selected{% endif %}>
                          {{ profissional.nome }}
                      </option>
                  {% endfor %}
              </select>
              &nbsp;
              {% if request.GET.profissional %}
                  <a href="{% url 'atendimentos_do_dia' %}" class="btn btn-primary">Limpar</a>
              {% endif %}
          </div>
      </form>
    </div>

    {% if atendimentos %}
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Hora</th>
                    <th>Cliente</th>                   
                    <th>Descrição</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for agendamento in atendimentos %}
                <tr {% if agendamento.finalizado %}style="background-color: lightcoral;"{% endif %}>
                    <td style="background-color:aquamarine; color:black;">{{ agendamento.hora_inicio|time:"H:i" }} - {{ agendamento.hora_fim|time:"H:i" }}</td>
                    <td>{{ agendamento.cliente.nome }}</td>                    
                    <td>{{ agendamento.descricao }}</td>
                    <td>
                      <a href="{% url 'editar_atendimento' agendamento.id %}" class="btn btn-warning btn-sm">
                          Editar
                      </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="color: crimson;">Nenhum agendamento para hoje.</p>
    {% endif %}
    
    <a href="{% url 'index' %}" class="btn btn-primary mt-3">Retornar ao Início</a>
  </div>  
{% bootstrap_javascript %}    
</body>
</html>