{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Contas a Pagar</title>
    {% bootstrap_css %}
</head>
<body>
{% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}    
<div class="container mt-4">
    <h3>Cadastro de Contas a Pagar</h3>

    <form method="post" action="{% url 'contas_pagar' %}" class="mb-4">
        {% csrf_token %}
        <div class="form-group">
            <div class="col">
                <label for="vencimento" class="mr-2">Vencimento:</label>
                <input type="date" id="vencimento" name="vencimento" style="width: 150px;" class="form-control" required>
            </div>
            <div class="col">
                <label for="despesa" class="mr-2">Tipo de despesa:</label>
                <select name="despesa" id="despesa" class="form-control" required>
                    <option value="">Selecione a despesa</option>
                    {% for despesa in despesas %}
                        <option value="{{ despesa.id }}">{{ despesa.codigo }} - {{ despesa.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="credor" class="mr-2">Credor:</label>
                <input list="lista_credores" name="credor" id="credor" placeholder="Credor da conta" class="form-control" required>
                    <datalist id="lista_credores">
                        {% for c in credores %}
                            <option value="{{ c }}">
                        {% endfor %}
                    </datalist>                   
            </div>
            <div class="col">
                <label for="descricao" class="mr-2">Descrição:</label>
                <input type="text" name="descricao" id="descricao" class="form-control" placeholder="Descrição">
            </div>
            <div class="col">
                <label for="conta_origem" class="mr-2">Conta Origem:</label>
                <select name="conta_origem" id="conta_origem" class="form-control" required>
                    <option value="">Selecione a conta origem</option>
                    {% for banco in bancos %}
                        <option value="{{ banco.id }}">{{ banco.simbolo }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="valor" class="mr-2">Valor:</label>
                <input type="number" step="0.01" name="valor" id="valor" style="width: 150px;" class="form-control" placeholder="Valor R$" required>
            </div>
            &nbsp;
            <div class="col">
                <button class="btn btn-success" id="botao-gravar">Gravar</button>
                <a href="{% url 'index' %}" class="btn btn-warning">Retornar</a>
            </div>
        </div>
    </form>

    <form method="get" class="form-inline mb-3">
    <label for="data_de" class="mr-2">Data de:</label>
    <input type="date" name="data_de" class="form-control mr-2" value="{{ data_de }}">

    <label for="data_ate" class="mr-2">Até:</label>
    <input type="date" name="data_ate" class="form-control mr-2" value="{{ data_ate }}">

    <label for="filtro_credor" class="mr-2">Credor:</label>
    <input list="credores_datalist" name="filtro_credor" style="width: 450px;" id="filtro_credor" class="form-control mr-2"
           placeholder="Digite ou selecione" value="{{ filtro_credor }}">
    <datalist id="credores_datalist">
        {% for c in credores %}
            <option value="{{ c }}">
        {% endfor %}
    </datalist>

    <button class="btn btn-primary">Filtrar</button>
</form>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Data</th>
                <th>Credor</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Conta Origem</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for conta in contas %}
                <tr>
                    <td>{{ conta.vencimento|date:"d/m/Y" }}</td>
                    <td>{{ conta.credor }}</td>
                    <td>{{ conta.descricao }}</td>
                    <td>R$ {{ conta.valor|floatformat:2 }}</td>
                    <td>
                        {% if conta.conta_origem %}
                            {{ conta.conta_origem.simbolo }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'pagar_conta' conta.id %}" class="btn btn-sm btn-success"
                            onclick="return confirm('Deseja realmente pagar esta conta?');">Pagar</a>
                        {% if conta.conta_origem %}
                            <a href="#" class="btn btn-sm btn-primary editar-conta"
                            data-id="{{ conta.id }}"
                            data-vencimento="{{ conta.vencimento|date:'Y-m-d' }}"
                            data-despesa="{{ conta.despesa.id }}"
                            data-credor="{{ conta.credor }}"
                            data-descricao="{{ conta.descricao }}"
                            data-valor="{{ conta.valor|stringformat:'.2f' }}"
                            data-conta_origem="{{ conta.conta_origem.id }}">
                            Editar
                            </a>
                        {% else %}
                            <a href="#" class="btn btn-sm btn-primary editar-conta"
                            data-id="{{ conta.id }}"
                            data-vencimento="{{ conta.vencimento|date:'Y-m-d' }}"
                            data-despesa="{{ conta.despesa.id }}"
                            data-credor="{{ conta.credor }}"
                            data-descricao="{{ conta.descricao }}"
                            data-valor="{{ conta.valor|stringformat:'.2f' }}"
                            data-conta_origem="">
                            Editar
                            </a>
                        {% endif %}
                        <a href="#" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="5">Nenhuma conta encontrada.</td></tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><strong>Total do período:</strong></td>
                <td colspan="2"><strong>R$ {{ total|floatformat:2 }}</strong></td>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    document.querySelectorAll('.editar-conta').forEach(function(botao) {
        botao.addEventListener('click', function(e) {
            e.preventDefault();
            // Converte data de "2025-07-19" para "19/07/2025"
            const dataISO = this.dataset.vencimento;
            const partes = dataISO.split("-");
            const dataFormatada = partes[2] + "/" + partes[1] + "/" + partes[0];

            // Preencher os campos com os dados da conta
            document.getElementById('vencimento').value = this.dataset.vencimento;
            document.getElementById('despesa').value = this.dataset.despesa;
            document.getElementById('credor').value = this.dataset.credor;
            document.getElementById('descricao').value = this.dataset.descricao;
            document.getElementById('valor').value = this.dataset.valor.replace(',', '.');
            document.getElementById('conta_origem').value = this.dataset.conta_origem;

            // Altera o texto do botão
            const botao = document.getElementById('botao-gravar');
            botao.textContent = 'Alterar';
            botao.classList.remove('btn-success');
            botao.classList.add('btn-warning');

            // Adicionar o ID da conta a ser alterada:
            const form = botao.closest("form");
            let inputHidden = document.getElementById("id_conta");
            if (!inputHidden) {
                inputHidden = document.createElement("input");
                inputHidden.type = "hidden";
                inputHidden.name = "id";
                inputHidden.id = "id_conta";
                form.appendChild(inputHidden);
            }
            inputHidden.value = this.dataset.id;
            });
    });
</script>
</body>
</html>