{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
    <title>Editar Usuário</title>
    {% bootstrap_css %}
</head>
<body>
<div class="container mt-5">
    <img src="{% static '/images/logo.png' %}" alt="Clinix Logo" class="img-fluid" style="max-width: 300px;">
    <h1>Editar Usuário</h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'usuarios' %}" class="btn btn-warning">Retornar</a>
    </form>
</div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>