{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
    {% bootstrap_css %}
</head>
<body>
<div class="container mt-4">
    <img src="{% static '/images/logo.png' %}" alt="Clinix Logo" class="img-fluid" style="max-width: 300px;">
    <h2>Clientes Cadastrados</h2>
    <form method="GET" class="mb-4">
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <input type="text" name="busca" id="campoBusca" class="form-control" placeholder="Buscar por nome ou CPF" value="{{ busca }}" />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Procurar</button>
    </div>
  </div>
</form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Cidade</th>
                <th>Ações</th>
            </tr>            
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.cidade }}</td>
                <td>
                    <a href="{% url 'editar_cliente' cliente.pk %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'excluir_cliente' cliente.pk %}" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir este cliente?');">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum cliente cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% bootstrap_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<script>
  $(document).ready(function(){
    const $campo = $('#campoBusca');

    $campo.on('input', function () {
      const valor = $campo.val().replace(/\D/g, '');

      if (valor.length === 11) {
        $campo.mask('000.000.000-00');
      } else {
        $campo.unmask();
      }
    });
  });
</script>
</body>
</html>